<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="border-top my-3">
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col text-left">
        <small id="passwordHelpId" class="form-text text-muted">
          &copy; Prologisys S.A de C.V Copyright 2018. Todos los derechos reservados
        </small>
      </div>

      <div class="col text-right">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a target="_blank" href="https://www.facebook.com/">
              <span style="color:#3b5998" class="fab fa-facebook fa-2x"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://www.google.com/">
                <span style="color:#EA4335" class="fab fa-google  fa-2x"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://twitter.com/">
                <span style="color:#0084b4" class="fab fa-twitter  fa-2x"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
