
  <div class="row p-3">
    <div class="col text-left">
      <h2>Proveedores</h2>
    </div>
    <div class="col text-right">
      <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#registroModal">
        <i class="fas fa-plus-circle"></i>
        Nuevo Proveedor
      </button>
    </div>
  </div>



  <div class="row">
    <div class="col-12">
      <table class="table table-responsive-lg table-hover">
        <thead class="thead-success">
          <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Razon Social</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Panasonic</td>
            <td class="text-right">
              <div class="btn-group flex-btn-group-container">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#verModal">
                  <i class="fas fa-eye"></i>
                  <span class="d-none d-md-inline">Ver</span>
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#edicionModal">
                  <i class="fas fa-pencil-alt"></i>
                  <span class="d-none d-md-inline">Editar</span>
                </button>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#eliminaModal">
                  <i class="fas fa-trash-alt"></i>
                  <span class="d-none d-md-inline">Eliminar</span>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Nike</td>
            <td class="text-right">
              <div class="btn-group flex-btn-group-container">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#verModal">
                  <i class="fas fa-eye"></i>
                  <span class="d-none d-md-inline">Ver</span>
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#edicionModal">
                  <i class="fas fa-pencil-alt"></i>
                  <span class="d-none d-md-inline">Editar</span>
                </button>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#eliminaModal">
                  <i class="fas fa-trash-alt"></i>
                  <span class="d-none d-md-inline">Eliminar</span>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Adidas</td>
            <td class="text-right">
              <div class="btn-group flex-btn-group-container">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#verModal">
                  <i class="fas fa-eye"></i>
                  <span class="d-none d-md-inline">Ver</span>
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#edicionModal">
                  <i class="fas fa-pencil-alt"></i>
                  <span class="d-none d-md-inline">Editar</span>
                </button>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#eliminaModal">
                  <i class="fas fa-trash-alt"></i>
                  <span class="d-none d-md-inline">Eliminar</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>




  <div class="row">
    <div class="col-12">
      <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1"> << </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#"> >> </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- Modal Eliminar-->
  <div class="modal fade" id="eliminaModal" tabindex="-1" role="dialog" aria-labelledby="eliminaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eliminaModalLabel">Eliminar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Seguro desea eliminar el registro?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Si</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Eliminar -->


  <!-- Modal Registro -->
  <div class="modal fade" id="registroModal" tabindex="-1" role="dialog" aria-labelledby="registroModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registroModalLabel">Registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Codigo proveedor:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Razon social:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Registro -->

<!-- Modal Editar -->
<div class="modal fade" id="edicionModal" tabindex="-1" role="dialog" aria-labelledby="edicionModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="edicionModalLabel">Edicion</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Codigo proveedor:</label>
          <input disabled type="text" class="form-control" id="recipient-name" value="2">
        </div>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Razon social:</label>
          <input type="text" class="form-control" id="recipient-name" value="Adidas">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
    </div>
  </div>
</div>
</div>
<!-- Modal Editar -->


<!-- Modal Ver -->
<div class="modal fade" id="verModal" tabindex="-1" role="dialog" aria-labelledby="verModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="verModalLabel">Vista</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Codigo proveedor:</label>
          <input disabled type="text" class="form-control" id="recipient-name" value="2">
        </div>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Razon social:</label>
          <input disabled type="text" class="form-control" id="recipient-name" value="Adidas">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>
</div>
<!-- Modal Ver -->
